<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091927884473-qfb5ms5uckb0vpf5k94uqihpruqqa272.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091927884473-qfb5ms5uckb0vpf5k94uqihpruqqa272</string>
	<key>API_KEY</key>
	<string>AIzaSyAKP50lI6GKeikGh7MgwHq0IHKmos2qjKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1091927884473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csunUser</string>
	<key>PROJECT_ID</key>
	<string>senior-project-2022-16cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-2022-16cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091927884473:ios:c39f720a10dd13d6701168</string>
	<key>DATABASE_URL</key>
	<string>https://senior-project-2022-16cdc-default-rtdb.firebaseio.com</string>
</dict>
</plist>